* {
  margin: 0;
  padding: 0;
}
body {
  border: solid green 2px;
}

header {
  display: flex;
  border: solid red 2px;
  margin: 15px;
  height: 15vh;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  border: solid blue 2px;
}
