* {
  margin: 0;
  padding: 0;
}
body {
  border: solid green 2px;
}

header {
  display: flex;
  border: solid red 2px;
  margin: 15px;
  height: 15vh;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid blue 2px;
  width: 40%;
  height: 70vh;
  margin-left: 15px;
}
.article {
  display: flex;
  flex-direction: column;
  border: solid green 2px;
  width: 60%;

  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: row;
}

.individual-boxes {
  margin: 50px;
  border: solid black 2px;
}

@media only screen and (max-width: 1023px) {
  body {
    background-color: lightblue;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  body {
    color: aqua;
  }
}
